@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #753a88;
}
.wrapper {
    background: #fff;
    width: 450px;
    border-radius: 12px;
}
.wrapper header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 30px 10px;
}
header .current-date {
    font-size: 1.45rem;
    font-weight: 500;
}
header .icons span{
    color: #878787;
    font-size:1.9rem;
    height: 38px;
    width: 38px;
    cursor: pointer;
    border-radius: 50%;
    margin: 0 1px;
    text-align: center;
    line-height: 38px;
}
header .icons span:last-child{
    margin-right: -10px;
}
header .icons span:hover{
    background: #f2f2f2;
}
.calendar {
    padding: 20px;
}
.calendar .weeks li {
    font-weight: 500;
}
.calendar .days{
    margin-bottom: 20px;
    
}
.calendar .days li {
    margin-top: 30px;
    cursor: pointer;
    z-index: 1;
}
.calendar .days li::before {
    position: absolute;
    content:"";
    height: 40px;
    width: 40px;
    top:50%;
    left:50%;
    border-radius: 50%;
    z-index: -1;
    transform: translate(-50%,-50%);
}
.calendar .days li:hover::before{
     background: #f2f2f2;
}
.calendar .days li.inactive {
    color: #aaa;
}
.calendar .days li.active {
    color: #fff;
}
.calendar .days li.active::before{
    
    background: #753a88;
}
.calendar ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}
.calendar ul li{
    width: calc(100% / 7);
    position:relative;
}